<div class="content" role="main">
    <h1>Qui potrai leggere una delle battute di Chuck Norris!</h1>
    <div class="card-container">
        <span class="card">
            <span>{{battuta}}</span>
        </span>
    </div>

    <div>
        <button mat-raised-button color="warn" class="sort-button">Sorteggia una battuta!</button>
    </div>



    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
    <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
    <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->