<div class="content" role="main">
    <h1>Qui potrai ricercare una delle battute di Chuck Norris!</h1>
    <div>
        <form class="example-form">
            <mat-form-field class="ricercaBattuta">
              <mat-label>Ricerca battuta</mat-label>
              <input matInput placeholder="Es. Chuck Norris" [(ngModel)]="inputValue" name="inputValue">
            </mat-form-field>
          </form>
        <button mat-raised-button color="warn" class="sort-button" (click)="caricaBattute()">RICERCA</button>
    </div>

    <div *ngFor="let battuta of battute">
        <div class="card-container">
            <span class="card">
                {{battuta.value}}
            </span>
        </div>
        <mat-divider></mat-divider>
    </div>